body {
  font-family: sans-serif;
  padding: 5px;
  margin: 0;
  background-color: rgb(243, 243, 243);
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(135, 0, 0);
}

a:visited {
  color: rgb(135, 0, 0);
}

#map {
  width: 80%;
  height: 600px;
  float: left;
  margin: 0 15px 0 0;
}
